.right-image{
    float: right;
    margin-left: 10px
}

.left-image{
    float: left;
    margin-right: 10px;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: black;

}

a:hover{
    text-decoration: solid underline 1px;
}

body{
    background-color: #899499;
    font-family: Garamond, serif;
}

h1{
    text-align: center;
}

h2{
    padding-left:80px;
    font-size: 32pt;
    font-weight: 900;
}

ul{
    list-style-type: square;
    background: rgba(137,148,153,.2);
    margin-right: 500px;
    border-style: outset;
    border-color: rgba(0,0,0,.5);

}


.bannerImg{
    width: 100%;
    border-style: double;

}

.whatSection{
    padding-left: 40px;
    padding-right: 40px;
}

.whatText{
    font-size: 16pt;
}

.whatQuote{
    text-align: center;
    font-family: serif;
    font-size: 20pt;
    border-style: solid none solid none;
    border-width: 2px;
    border-color: #36454F;

}


.loreSection{
    height:700px;
    padding-bottom: 150px;
    background-color: #3A4052;
    border-style: inset;
    border-color: grey;
    box-shadow: 0 0 10px 5px black;
}

.loreHeading{
    color: #7BBED1;
    text-shadow: 0 0 1px white;
}


.loreText{
    display: flex;
    /*align-items: center;*/
    padding-left: 40px;
    padding-right: 40px;
    height: 50vh;
    font-size: 16pt;
    color: white;
    text-shadow: 0 0 1px grey;
}




.whoSection{
    padding-top: 10px;
    height: 525px;
    background-color: #2B2B2B;
    box-shadow: 0 0 10px 5px black;
    color: #D5D5DA;
}

.whoHeader{
    text-align:center;
    padding-right: 250px;
}

.whoText{
    font-size:16pt;
    padding-left: 100px;
    margin-left: 10px;
}

.whoImg{
    padding-left: 50px;
}


.whoQuote{
    text-align: right;
    vertical-align: bottom;
    font-family: serif;
    font-size: 14pt;
    border-style: solid none solid none;
    border-width: 2px;
    border-color: rgba(96,130,182,.3);
    margin-top: 150px;
}

.ytVid{
    float: left;
    margin-left: 10px;
}

footer{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.logo{
    height: 110px;
    width: 110px;
    opacity: .6;
    padding-left: 80px;
    padding-right: 10px;
}

.logo:hover{
    opacity: 1;
}


